<div class="container" style="margin-top: 30px;">
    {{!--fila 1--}}
    <div class="row">
            <div class="col-9">
         <span><h3>Bienvenido {{nombre}} </h3> </span>
    </div>
    <div class="col-3 text-end">
        <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i class="fasfa-sing-out-alt"></i></a>
    </div>
  
    </div>
    <br>
        {{!--fin fila 1--}}
        {{!--fila 2--}}
<div class="row">
    <div class="col-6" style="margin-top:-9px;">
        <h3>Lista de novedades</h3>
    </div>
    <div class="col-2 text-end">
        <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo
        </a>
    </div>
    <div class="col-4 text-right">
      <form class="d-flex" action="/admin/novedades" method="get">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="q" {{#if q}} value="{{q}}" {{/if}}>
        <button class="btn btn-secondary" type="submit"  style="margin:0 8px;"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
        </form>
    </div>
</div>

        {{!--fin fila 2--}}
<div class="row" style="padding-top: 30px;">
    <div class="col">
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                     <th scope="col">Imagen</th>
                    <th scope="col" class="text-end">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each novedades}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td>{{{imagen}}}</td>
                    <td class="text-end">
                        <a href="/admin/novedades/modificar/{{id}}" class="btn btn-secondary" style="margin: 3px 0 3px;"><i class="fas fa-pencil-alt"></i></a>
                        <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-secondary" style="margin: 3px 0 3px;"><i class="fas fa-trash"></i></a>
                    </td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
        {{#if is_search}}
        {{#unless novedades.length}}
        No se encontraron resultados para "<b>{{q}}</b>"
        {{/unless}}
        {{/if}}
    </div>
</div>
</div>