
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #000;">
        <div class="container">
            <a class="navbar-brand" href="#">
              
              <img src="images/logofondonegrofinal.jpg" alt="">
            </a>
          </div>
        
        <div class="nav justify-content-end" style="margin-right:50px;">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            
            
            <span class="navbar-toggler-icon"></span>

          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" data- href="#Inicio" style="font-family: 'Montserrat', sans-serif;">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-scroll href="#series" style="font-family: 'Montserrat', sans-serif;">Series</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-scroll href="#noticias" style="font-family: 'Montserrat', sans-serif;">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-scroll href="#premium" style="color: orange ; font-family: 'Montserrat', sans-serif;">Premium</a>
              </li> 
             
            </ul>

          </div>
        </div>
      </nav>

      
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/fondo1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sub">Kimetsu no yaiba</h2>
                <p>La historia se centra en Tanjirō Kamado, un joven inteligente y de buen corazón que vive con su familia en las montañas. Se ha convertido en la única fuente de ingresos de su familia tras el fallecimiento de su padre.Sin embargo, toda su vida cotidiana cambia cuando en uno de estos viajes, regresa a casa solo para descubrir que su familia ha sido atacada y asesinada por un demonio.</p>
                <button type="button"  class="btn btn-warning" style="font-family: 'Montserrat', sans-serif;">Reproducir</button>
                <button type="button" class="btn btn-light" style="font-family: 'Montserrat', sans-serif;">Mas Informacion</button>
              </div>
              
          </div>
          <div class="carousel-item">
            <img src="images/fondo2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sub">Haikyū!!</h2>
                <p>Shōyō Hinata, aún siendo un estudiante de primaria, ve un partido de voleibol por la televisión, en el cual vio jugar al conocido "Pequeño Gigante". Desde entonces, pretende convertirse en alguien como él, debido a que ambos son bajos de estatura, y comienza a aficionarse por el deporte.</p>
                <button type="button" class="btn btn-warning" style="font-family: 'Montserrat', sans-serif;">Reproducir</button>
                <button type="button" class="btn btn-light" style="font-family: 'Montserrat', sans-serif;">Mas Informacion</button>
              </div>
          </div>
          <div class="carousel-item">
            <img src="images/fondo3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sub">My Hero Academia</h2>
                <p>La historia tiene lugar en un mundo donde el 80% de la población ha desarrollado «dones», surgiendo así héroes y villanos. Entre el 20% de personas sin dones, se encuentra Izuku Midoriya, cuyo mayor deseo es poder estudiar en la U.A. y convertirse en un héroe como su ídolo All Might.2​ Un día, tras conocer personalmente a All Might, este le ofrece heredar sus poderes al ver su gran determinación a pesar de haber nacido sin don. Midoriya accede y empieza a estudiar en la U.A, donde hace nuevos amigos, conoce otros héroes profesionales, aprende a dominar sus poderes y se enfrenta a auténticos villanos.</p>
                <button type="button" class="btn btn-warning" style="font-family: 'Montserrat', sans-serif;">Reproducir</button>
                <button type="button" class="btn btn-light" style="font-family: 'Montserrat', sans-serif;">Mas Informacion</button>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
<div class="subtitulo" id="series">
  
    <h2>Series Destacadas</h2>

    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <img src="images/fotochica1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shingeki no Kyojin</h5>
            <p class="card-text">Accion - Superpoderes 5 tem - 85 cap</p>
            <p class="card-text"><small class="text-muted">Ultimo capitulo 30 dias</small></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <img src="images/fotochica2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Death Note</h5>
            <p class="card-text">Misterio - Sobrenatural 2 tem - 37 cap</p>
            <p class="card-text"><small class="text-muted">Ultimo capitulo 8 años</small></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <img src="images/fotochica3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Naruto</h5>
            <p class="card-text">Accion - Artes Marciales 6 tem - 153 cap</p>
            <p class="card-text"><small class="text-muted">Ultimo capitulo 5 años</small></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <img src="images/fotochica4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">One Peace</h5>
            <p class="card-text">Accion - Superpoderes  20 tem - 1015 cap</p>
            <p class="card-text"><small class="text-muted">Ultimo capitulo 5 dias</small></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <img src="images/fotochica5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dragon Ball</h5>
            <p class="card-text">Accion - Artes Marciales 6 tem - 153 cap</p>
            <p class="card-text"><small class="text-muted">Ultimo capitulo 20 dias</small></p>
          </div>
        </div>
      </div>
    </div>

<br>
    <h2 class='text-center' id="noticias">Ultimas novedades del anime</h2>

<div class="row row-cols-1 row-cols-md-2 g-4">
      {{#each novedades}}
  <div class="col">

    <div class="card" style="background: rgba(66, 66, 66, 0.5)">
      <img src="{{imagen}}" class="card-img-top">  
      <div class="card-body">
        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal{{id}}">
        <h5 class="card-title">{{titulo}}</h5>
        </a>
      </div>
    </div>
  
  </div>
  {{/each}}

</div>

{{#each novedades}}

<div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">{{titulo}}</h4>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <h6>{{subtitulo}}</h6>
        <p>{{cuerpo}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{{/each}}

<br>

<div>
<h5 style="text-align: center;" id="premium">¿Quieres ser <b>Premium</b> ya? Ingresa tu email para crear una cuenta y activar tu membresía en <b>Mundo Anime</b>.</h5>
</div>
<br>

<div class="container-fluid">
  <div id="home" class="row-align-items-center hero" style="background: url(images/fondo-inscripcion.jpg);">
  
<form action="/" method="post">
  <div class="col-lg-4 offset-lg-7" style="padding: 2rem;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" style="font-family: 'Montserrat', sans-serif">Correo electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="correo">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="font-family: 'Montserrat', sans-serif;">Nombre de Usuario</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="nombre">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="font-family: 'Montserrat', sans-serif;">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="clave">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="font-family: 'Montserrat', sans-serif;">Repetir Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="clave2">
  </div>
 
  <button type="submit" class="btn btn-warning" style="font-family: 'Montserrat', sans-serif;">Validar</button>
   
        </div>
        </div>
</form>
{{#if message }}
     {{message}}
{{/if}}

</div>

<br>

  </div>
  
    
  </div>

  <footer>
    <p class="text">Diseñado por Franco Rizzi</p>
  </footer>
